.servicesWrapper {
    padding: 200px 120px 0 120px;
    display: flex;
    flex-direction: column;
}

.title {
    padding-bottom: 60px;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    text-transform: uppercase;
    color: #000000;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.longLine {
    /*border: 1px solid #939393;*/
    width: 100%;
    margin: 40px 0;
}

.number {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #DDFF00;
    border-radius: 10px;
    width: 74px;
    height: 28px;
    margin-bottom: 20px;
}

.titleInContent {
    font-weight: 400;
    font-size: 52px;
    line-height: 71px;
    text-transform: uppercase;
    color: #000000;
}

.leftPart {
    width: 320px;

}

.leftPartTitle {
    position: sticky;
    top: 40%;
}

.rightPart {
    padding-top: 20px;
}

@media (max-width: 1125px) {
    .servicesWrapper {
        padding: 200px 50px 0 50px;
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .content {
        flex-direction: column;
    }
    .longLine {
        margin: 20px 0;
    }
}

@media (max-width: 480px) {
    .servicesWrapper {
        padding: 200px 20px 0;
    }
    .title {
        font-size: 28px;
    }
    .titleInContent {
        font-size: 36px;
    }
    .number {
        margin: 30px 0 5px 0;
    }
}