.wrap{
    background: #D9D9D9;
    border-radius: 20px;
    Width: 139px;
    Height: 42px;
    justify-content: center;
    align-items: center;
    display: flex;

}

.contactBtn {
    border-radius: 50px;
    Width: 139px;
    Height: 42px;
    flex-wrap: wrap;
    align-items: center;
    display: flex;
    transition: 0.4s;
}
.wrap:hover .contactBtn{
    background: black;

}
.wrap:hover .legend{
    color: white;
}


.content{
    display: flex;
    padding-left: 0.9rem;
    grid-column-gap: 1.3rem;
    grid-row-gap: 1.3rem;
    text-decoration: none
}

.legend{
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}


.icon {
    Width: 36px;
    Height: 36px;
    background: black;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
}


