.themeTextWrapper {
    padding-left: 113px;
    padding-top: 30px;
}

.firstLine {
    font-weight: 500;
    font-size: 84px;
    line-height: 114px;
    color: #000000;

}

.secondLine {
    font-weight: 500;
    font-size: 84px;
    color: #000000;
}

.thirdLine {
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-column-gap: 1.3em;
}

.smallText {
    width: 330px;
    height: 75px;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    text-align: left;
    color: #000000;
}

.smallTextInnerWrapper {
    padding: 7px;
}

.bigText {
    font-style: normal;
    font-weight: 500;
    font-size: 84px;
    line-height: 114px;
}

.scrollToExplore {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 120px;
    grid-column-gap: 1.3rem;
    padding-top: 100px;
}

.scrollToExploreText {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;

}

@media (max-width: 1125px) {
    .themeTextWrapper {
        padding-left: 60px;
    }

    .scrollToExplore {
        padding-left: 60px;
    }
}

@media (max-width: 768px) {
    .thirdLine {
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .smallText {
        width: 500px;
    }
}

@media (max-width: 568px) {
    .firstLine {
        font-size: 68px;
    }

    .secondLine {
        font-size: 68px;
    }
    .bigText {
        font-size: 68px;
    }

    .thirdLine {
        font-size: 68px;
    }

    .smallText {
        width: 400px
    }

}

@media (max-width: 568px) {
    .themeTextWrapper {
        padding-left: 20px;
    }
}

@media (max-width: 480px) {

    .scrollToExplore {
        padding-left: 20px;
    }
}
@media (max-width: 419px) {

    .firstLine {
        font-size: 56px;
        line-height: 80px;
    }

    .secondLine {
        font-size: 56px;
    }
    .bigText {
        font-size: 56px;
        line-height: 80px;
    }

    .thirdLine {
        font-size: 56px;
    }
    .smallText {
        width: 300px
    }
}

