.bottomWrapper {
    background: #F8F8F8;
    height: 630px;

    display: flex;
    flex-direction: row;
}

.leftPart {
    padding-left: 120px;
    width: 700px;
}

.spinnerWrapper {
    /*width: 471px;*/
    /*height: 471px;*/
    /*bottom: -30%;*/
    /*position: relative;*/

    width: 100%;
    height: 471px;
    overflow: hidden;
    position: relative;
    bottom: -25%;
}


.rightPart {
    padding-top: 106px;
}

.titleQuestion {
    font-weight: 400;
    font-size: 52px;
    line-height: 126%;
    text-transform: uppercase;
    color: #8B8B8B;
}

.titleExclamation {
    font-weight: 400;
    font-size: 52px;
    line-height: 126%;
    text-transform: uppercase;
    color: #000000;
}

.description {
    padding-top: 28px;
    width: 530px;
    font-weight: 400;
    font-size: 24px;
    line-height: 126%;
    color: #000000;
}

.contactLinksWrapper {
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding-top: 68px;
}

.firstRow {
    display: flex;
    flex-direction: row;
    gap: 11px;
}

.secondRow {
    display: flex;
    flex-direction: row;
    gap: 11px;
}

.linkWithPoint {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.yellowPoint {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #DDFF00;
}

.bigContactButtonInBottom {
    padding-top: 54px
}

.contactLinks {
    font-weight: 400;
    font-size: 24px;
    line-height: 126%;
    color: #000000;
}

.rights {
    position: relative;
    bottom: -9%;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    text-transform: uppercase;
}

@media (max-width: 1125px) {
    .leftPart {
        padding-left: 60px;
    }
}

@media (max-width: 1000px) {
    .contactLinksWrapper {
        flex-direction: column;
    }

    .description {
        width: 100%;
        font-size: 20px;

    }
}

@media (max-width: 900px) {
    .rightPart {
        padding-top: 60px;
    }

    .titleQuestion {
        font-size: 42px;
    }

    .titleExclamation {
        font-size: 42px;
    }
}

@media (max-width: 892px) {

    .contactLinksWrapper {
        padding-top: 28px;
    }
}

@media (max-width: 768px) {

    .titleQuestion {
        font-size: 32px;
    }

    .titleExclamation {
        font-size: 32px;
    }

    .rights {
        font-size: 13px;
    }
}

@media (max-width: 559px) {

    .titleQuestion {
        font-size: 32px;
    }

    .titleExclamation {
        font-size: 32px;
    }

    .description {
        font-size: 18px;
    }

    .contactLinks {
        font-size: 18px;
    }

    .rights {
        font-size: 11px;
    }

    .leftPart {
        padding-left: 20px;
    }

}

@media (max-width: 480px) {
    .bottomWrapper {
        flex-direction: row-reverse;
        padding: 0 0 0 20px;
    }

    .leftPart {
        padding-left: 5px;
    }

    .description {
        position: absolute;
        width: 290px;
    }
    .bigContactButtonInBottom {
        padding-top: 120px;
    }
}


