.spinner {
    width: 471px;
    height: 471px;
    position: absolute;
    bottom: -15%;
    animation: spin 5s infinite linear;
    will-change: transform;
    left: 2%;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.right {
    animation-direction: normal;
}

.left {
    animation-direction: reverse;
}

@media (max-width: 1080px) {
    .spinner {
        width: 350px;
        height: 350px;
    }
}

@media (max-width: 768px) {
    .spinner {
        width: 300px;
        height: 300px;
    }
}


@media (max-width: 643px) {
    .spinner {
        width: 250px;
        height: 250px;
    }
}
@media (max-width: 480px) {
    .spinner {
        width: 220px;
        height: 220px;
    }
}
@media (max-width: 442px) {
    .spinner {
        width: 200px;
        height: 200px;
    }
}
@media (max-width: 414px) {
    .spinner {
        width: 175px;
        height: 175px;
        bottom: -10%;
    }
}
@media (max-width: 394px) {
    .spinner {
        width: 150px;
        height: 150px;
    }
}
@media (max-width: 363px) {
    .spinner {
        width: 125px;
        height: 125px;
        bottom: -5%;
    }
}

/*@media (max-width: 559px) {*/
/*    .spinner {*/
/*        width: 200px;*/
/*        height: 200px;*/
/*    }*/
/*}*/