.title {
    font-weight: 100;
    font-size: 28px;
}
.wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 120px;
}


.headerUp{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.headerDown{

}
.hr{
    border: 1px solid #000000;
}

@media (max-width: 1132px) {
    .wrap {
        padding: 40px 60px;
    }
}

@media (max-width: 480px) {
    .wrap {
        padding: 40px 20px;
    }
}

@media (max-width: 419px) {
    .title {
        font-size: 22px;
    }
}