.worksDescrWrapper {
    padding-left: 120px;
    padding-top: 100px;
    padding-right: 120px;
}

.worksDescrHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.worksWord {
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    color: #000000;
    width: 112px;
    height: 44px;
}

.worksDescr {
    width: 400px;
    height: 72px;

    font-weight: 100;
    font-size: 20px;
    line-height: 126%;
    color: #000000;
}

.circles {
    width: 186px;
    height: 101px;
}

.works_grid {
    padding-top: 22px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.works_item_img::selection {
    color: #fff;
}
.works_item_title > span::selection {
    color: #fff;
}

.works_grid,
.works_grid * {
    box-sizing: border-box;
}

.works_item {
    margin: 15px 0;
}

.works_item_inner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}


.works_item_inner:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
    opacity: 0;
    transition: all 0.4s ease;
    content: '';
    z-index: 2;
}

.works_item_inner:hover .works_item_img {
    transform: scale(1.05);
}

.works_item_inner:hover:before{
    opacity: 1;
}

.works_item_img {
    height: 308px;
    width: 380px;
    object-fit: cover;
    transition: all .4s ease;
}

.works_item_title {
    position: absolute;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    text-transform: uppercase;
    color: #FFFFFF;
    overflow: hidden;
    z-index: 3;
}

.works_item_title > span {
    display: block;
    transform: translateY(40px);
    transition: transform .3s ease;
}
.works_item_inner:hover .works_item_title > span{
    transform: translateY(0);
}

