.title {
    font-weight: 400;
    font-size: 28px;
}
.wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 120px;
}

.headerUp{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.headerDown{

}
.hr{
    border: 1px solid #000000;
}
