.WorkProcessWrapper {
    padding: 200px 120px;
}

.header {
    padding-bottom: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
}

.title {
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    text-transform: uppercase;
    color: #000000;
}

.steps {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #DDFF00;
    border-radius: 10px;
    width: 96px;
    height: 28px;
    font-weight: 100;
    text-transform: uppercase;

}

.description {
    width: 540px;
    /*height: 89px;*/
    font-weight: 100;
    font-size: 24px;
    line-height: 126%;
    color: #000000;
}

.leftPart {

}

.rightPart {

}

.cards {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.firstLine {
    display: flex;
    flex-direction: row;
    gap: 32px;
    padding-bottom: 33px;
}

.secondLine {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    gap: 32px;
}

@media (max-width: 1132px) {
    .WorkProcessWrapper {
        padding: 200px 5%;
    }
    .cards {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
}

@media (max-width: 800px) {
    .firstLine {
        gap: 12px;
        padding-bottom: 12px;

    }
    .secondLine {
        gap: 12px;
    }
}
@media (max-width: 768px) {
    .firstLine {
        display: flex;
        flex-direction: column;
        gap: 22px;
    }
    .secondLine {
        display: flex;
        flex-direction: column;
        gap: 22px;
    }
    .cards {
        gap: 22px;
    }
    .description {
        width: 339px;

    }
}

@media (max-width: 568px) {
    .description {
        width: 200px;
    }
}

@media (max-width: 480px) {
    .header {
        flex-direction: column;
    }
    .description {
        width: 100%;
    }
}