.accardionWrapper {
    /*display: flex;*/
}

.shortLine {
    /*border: 1px solid #939393;*/
    width: 599px;
    margin-bottom: 15px;
}

.titleRightPart {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-transform: uppercase;
    color: #000000;
}


.titleWithButton_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
}


.descrText {
    max-width: 600px;
    opacity: 0;
    height: 0;
    transition: opacity 0.4s ease-in-out,
    height 0.4s ease-in-out;
    padding-top: 10px;
    font-weight: 100;
    font-size: 20px;
    line-height: 33px;
    color: #000000;

}

.descrText_animated {
    max-width: 600px;
    padding-top: 10px;
    font-weight: 100;
    font-size: 20px;
    line-height: 33px;
    color: #000000;

    opacity: 1;
    transition: height 0.3s ease-in-out,
    opacity 0.3s 0.1s ease-in-out;
}
